footer {
    width: 100%;
    min-width: 100px;
    min-height: 50px;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 20px;
}

footer .footerUl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: transparent;
}


.light footer {
    background: linear-gradient(135deg,
            rgb(255, 182, 193) 0%,

            rgb(255, 105, 180) 35%,

            rgb(255, 215, 0) 70%,

            rgb(218, 165, 32) 100%);
    color: #4b2e2e;
}


.dark footer {
    background-color: #1a0f1f;
    box-shadow: 0 10px 30px rgba(255, 105, 180, 0.6);
    border: none;
    border-top: 3px solid gold;
    color: #ffd9ec;
}


footer .icon-hover {
    font-size: 2em;
    text-shadow: 3px 3px 10px rgba(24, 24, 24, 0.5);
    transition: all 0.8s ease;
}


footer .IconsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    color: #ffda9e;
    cursor: pointer;
    transition: all 0.8s ease;
}

footer .IconsDiv:hover {
    color: hotpink;
    transform: scale(1.1);
}

footer .IconsDiv span {
    margin-left: 10px;
    font-size: 1.2em;
    padding: 3px;
    display: block;
    line-height: 1;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

@media (max-width: 300px) {
    footer ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        padding: 0;
        margin: 10px;
    }

    footer .IconsDiv {
        margin: 0;
    }

    footer .IconsDiv span {
        margin: 0;
        padding: 0;
        line-height: 1.2;
        font-size: 1em;
    }

    footer .icon-hover {
        font-size: 1.2em;
    }
}